<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>XX기업 XX채용</h1>
        <table>
            <tr><td height="200"></td></tr>
        </table>
       
        <form method="post" action="{{url_for('upload')}}" enctype="multipart/form-data">
            <input type="file" name="file" accept=".hwp">
            </br>
            <table>
                <tr><td height="30"></td></tr>
            </table>
            <input type="submit" value="업로드">
        </form>
    </div>    
</body>
</html>